.Header {

  
   
    display: flex;
    justify-content: flex-start;
      z-index: 99;
   }
      
     
  
  .Header .btnLogin{
      width: 130px;
      height: 50px;
      background: transparent;
      border: 2px solid #fff;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1.1em;
      color: #fff;
      font-weight: 500;
      margin-left: 400px;
      transition:.5s ;
      margin: 12px;
      
      
  }